[submodule "hs_core"]
    path = hs_core
    url = https://github.com/hydroshare/hs_core.git
    branch = master
[submodule "dublincore"]
    path = dublincore
    url = https://github.com/hydroshare/django-dublincore.git
    branch = apponly
[submodule "theme"]
    path = theme
    url = https://github.com/hydroshare/theme.git
    branch = master
[submodule "hs_scholar_profile"]
	path = hs_scholar_profile
	url = https://github.com/hydroshare/hs_scholar_profile.git
    branch = master

[submodule "django_irods"]
	path = django_irods
	url = https://github.com/hydroshare/django-irods.git
    branch = master


